
<div id="cursors">
    <!-- The mouse pointers will be created here -->
</div>

{{canvas-draw action="mouseDown"}}
  <h2>Canvas drawing</h2>

<div class="container">


  <!-- footer -->
  <footer>
    <p>&copy; Team 6 - CPSC 473 - CSUF</p>
  </footer>
</div> <!-- /container -->
