<!-- Info when sign-in -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome {{session.currentUser.displayName}}!</h1>
    <p>This is our Project 2 for CPSC473-02 class.</p>
    <p>Group Members: Payaam Emami, Yijie Sun, Tayseer Edouni, Kevin Lam, Long Nguyen</p>
    <p>Project Summary: This is a Web application with real-time where users draw and chat with others</p>
    <p>It is implemented using Ember JS, JavaScript, HTML, CSS, Bootstrap, socketIO, Firebase</p>

    <p><a href="home" class="btn btn-primary btn-lg" role="button" >Let's start</a></p>

  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Ember.js</h2>
      <p>Ember.js is an open-source JavaScript web framework, based on the Model–view–viewmodel (MVVM) pattern. Ember is used on many popular websites, including Discourse, Groupon, LinkedIn, Vine, Live Nation, Nordstrom, Twitch.tv and Chipotle. </p>
      <p><a class="btn btn-default" href="https://emberjs.com/" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Socket.IO</h2>
      <p>Socket.IO  is a JavaScript library for realtime web applications. It enables realtime, bi-directional communication between web clients and servers. It works on every platform, browser or device, focusing equally on reliability and speed.</p>
      <p><a class="btn btn-default" href="https://socket.io/" role="button">View details »</a></p>
   </div>
    <div class="col-md-4">
      <h2>Firebase</h2>
      <p>Firebase is a mobile and web application development platform. Firebase's initial product was a realtime database. The company was acquired by Google in October 2014 and a significant number of new features were featured in May 2016 at Google I/O.</p>
      <p><a class="btn btn-default" href="https://firebase.google.com/" role="button">View details »</a></p>
    </div>
  </div>

  <!-- footer -->
  <footer>
    <p>&copy; Team 6 - CPSC 473 - CSUF</p>
  </footer>
</div> <!-- /container -->
